body{
    background:rgb(247,249,249);
    font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;

    letter-spacing: 0.1em;
    line-height: 1.7em;
    color: #323232;
  }
footer {
  color: #aaa;
  text-align: center;
  padding-top: 40px;
}
h2{
  margin: 4px 0;
  font-size: 21px;
}
a{
  text-decoration: none;
}
blockquote{
  border-left: 5px solid #eee;
  padding: 10px 20px;
  font-size: 15px;
  margin: 0;
}
blockquote::before{content:none;}
blockquote::after{content:none;}

#title {
  color: rgb(0, 0, 0);
  margin-top: 3px;
  margin-left: 8px;
}
#title h1 {
  margin: 5px 0;
  letter-spacing: 0.3em;
  font-size: 21px;
}
#title a {
  margin: 2px 0;
  letter-spacing: 0.15em;
  font-size: 20px;
  color: black;
}
#title h1>img {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin: -3px -4px 0 0;
}
#title>img {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin: -5px -1px 0 0;
}
#title h1>span {
  font-size: 11px;
  letter-spacing: 0.1em;
}
#header{
  top: 0px;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: #f7f9f9;
  padding: 9px 0;
  border-bottom: solid 2px #00aeca;
}
/* PC利用時 */
@media (min-width:767px) {
  #header{
    width: 550px;
  }
}
#header-left-btn{
  position: fixed;
  top: 1px;
  color: #000;
}
#header-left-btn a{
  color: #000;
}
#header-mid-title{
  text-align: center;
  font-size: 17px;
}
.app_description{
  color: #888;
  font-size: 12px;
  margin-left: 15px
}

#header-right{
  z-index: 3;
}
/* SP利用時 */
#header-right{
  position: fixed;
  top: 2px;

  margin-left: inherit;
  right: 0px;
}
/* PC利用時 */
@media (min-width:767px) {
  #header-right{
    margin-left: 490px;
    right: inherit;
  }
}
#header-bottom{
  margin-top: 44px;
}

#content-wrap{
  padding:4px;
}
.bg-write{
  background: white;
}
.progress {
  height: 15px;
  background: #ccc;
  border-radius: 3px;
  border: solid 0px;
  display:block;
  text-align: left;

  margin-top: 4px;
}
.prog_text{
  display:inline-block; 
  color:#fff; 
  position:absolute;
  /*text-shadow:1px 1px 1px rgba(0,0,0,0.3);*/ 
  font-size:11px; 
  margin:-2px 0 0 5px;
}
.progress-bar {
  width: 0%;
  background: #00aeca;
  height: 100%;
  border-radius: 3px;
  border: solid 0px;
  display:inline-block;
}
.note {
  background: #fff;
  border: none;
  padding: 9px;
  margin: 11px 0px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 3px 3px 0 rgba(8, 1, 2, 0.03);
}
.note .tit{
  font-weight: bold;
}
.ta-l{text-align:left;}
.ta-c{text-align:center;}
.ta-r{text-align:right;}
.fw-b{font-weight:bold;}

.wrap {
  width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.title {
  letter-spacing: 3px;
  text-decoration: none;
  padding: 7px 0px;
  display: inline-block;
}
/* PC利用時 */
@media (min-width:767px) {
  .container {
    width: 550px;
    margin: 0 auto;
  }
}


.label{
  color: #fff;
  padding: 2px 7px;
  display: inline-block;
  margin-bottom: 4px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 1px 3px gba(0,0,0,0.3);
  font-size: 14px;
  background: #baa;
}
div.msgbox{
  padding:  4px;
  border: solid 1px #aaa;
  background: #fff;
  margin: 4px;
  border-radius: 3px;
  font-size: 12px;
}
div.success{
  color: rgb(93, 255, 93);
}
div.danger{
  color: rgb(255, 107, 107); 
}

.home_page {
  padding: 13px 7px 13px 13px;
  margin: 10px 4px;
  border-radius: 4px;
  border: solid 1px rgb(230, 230, 230);
  background: #fff;
  user-select:none;
  display:table;
  line-height:1.4em;
  cursor:pointer;
  word-break: break-all;
}
.ht_title{
  color:#333;
  font-size:16px;
  display:block;
  padding-bottom: 5px;
}
.ht_txt_holder{
  display:table-cell;
  width:100%;
  color:#888;
  font-size:92%;
}
.ht_txt_holder_txt{
  padding-bottom: 6px;
}
.ht_txt_holder_tag{
  display: inline-block;
  padding: 0px 7px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  font-size: 87%;
}
.ht_ico_holder{
  display:table-cell;
  vertical-align:top; 
  padding-left:5px;
  padding-right:2px;
  width:53px;
}
.ht_ico_holder_img{
  border-radius:4px;
  width:70px;
}
.ht_ico_holder_img_comp{
  border-radius:4px;
  width:70px;
  position: absolute;
  margin-left: -70px;
  display: none;
}
h1#header_tag{
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 8px;
}
#loading{
  height: 278px;
}
.content-ho{
  text-align:left;
  margin: 14px 12px;
  line-height: 28px;
}
.content-ho a{
  text-decoration: underline;
  color: #00aeca !important;
}
.btn-small {
  height: 23px;
  font-size: 14px;
  line-height: 23px;
}
.field-label{
  color:#44b;
  font-size: 12px;
}
.minw{
  min-width: inherit;
  padding: 0 11px;
}
.pad2{
  padding: 2px;
}

.toast{
  position: fixed;
  top: 50px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 15px;
  padding: 8px 15px;
  border: none;
  z-index: 1000;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}
.toast-success{background: rgba(0, 155, 202, 0.85);}
.toast-warning{background: rgba(214, 146, 0, 0.85);}
.toast-danger {background: rgba(204, 42, 2, 0.85);}

/*list*/
.co_list{
  background: #fff;
  padding: 6px 6px;
  border-bottom: solid 1px #eee;
}
.co_list:first-child{
  border-top: solid 1px #eee;
}
.co_list .co_list_info{
  color: #888;
  font-size: 85%;
  text-align: right;
  margin-bottom: -5px;
}
.co_list .co_list_label{
  color: #555;
  font-size: 17px;
  display: block;
}
.co_list .co_list_btns{
  text-align: right;
}
.co_list .co_list_btns a{
  color: #888;
}

.co_tab>div{
  display: inline-block;
  padding: 1px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: #333;
  background: #eee;
  cursor: pointer;
  user-select: none;
}
.co_tab>div.selected{
  color: #fff;
  background: #00aeca;
}

.co_announce{
  border-radius: 5px;
  margin: 4px 7px;
}
.co_announce a{
  font-size: 15px;
  padding-left: 8px;
  color: #00aeca !important;
}
.co_announce i{
  font-size: 18px;
  vertical-align: middle;
}

.co_tab{
  margin: 0 10px;
  text-align: right;
}
